<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
       <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon.png">
       <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
       <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
       <link rel="manifest" href="/public/favicons/site.webmanifest">
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="index.css" rel="stylesheet" type="text/css">
   </head>

   <body>
       <div class="text-container">
           <h2>Welcome to my Timestamp API!</h2>
           <br>
           <h3>Instructions</h3>
           <ul>
               <li>The API endpoint is <code>GET http://dmullen17-timestamp-api.us-west-2.elasticbeanstalk.com/api/timestamp/:date_string?</code></li>
               <li>A date string in YYYY-MM-DD format is valid</li>
               <li>If the date string is empty the service uses the current timestamp.</li>
               <li>If the date string is valid the api returns a JSON having the structure<br><code>{"unix": &lt;date.getTime()&gt;, "utc" : &lt;date.toUTCString()&gt; }</code><br>
                   e.g. <code>{"unix": 1479663089000 ,"utc": "Sun, 20 Nov 2016 17:31:29 GMT"}</code></li>
               <li>If the date string is invalid the api returns a JSON having the structure <br>
                   <code>{"unix": null, "utc" : "Invalid Date" }</code></li>
           </ul>
           <br>
           <h3>Example Usage:</h3>
            <ul>
                <li><code>GET [current_url]/api/timestamp/2015-12-25</code></li>
                <li><code>GET [current_url]/api/timestamp/1450137600</code></li>
            </ul>
           <br>
            <h3>Example Output:</h3>
            <p><code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code></p>
        </div>
        <div class="clock-container">
            <div class="clock">
                <div class="clock-face">
                    <div class="hand hour-hand"></div>
                    <div class="hand min-hand"></div>
                    <div class="hand second-hand"></div>
                </div>
            </div>
        </div>
    <script src="index.js"></script>
   </body>
</html>
